body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 0;
  background-color: #d3d3d3;
  color: #000;
}

header {
  background-color: #00bfff;
  color: black;
  text-align: left;
  padding: 20px 40px;
}

header h1 {
  margin: 20;
  font-weight: bold;
}

nav {
  background-color: #000;
  padding: 5px;
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: left;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 15px;
}


nav a:hover {
  color: orange;
}

main {
  padding: 30px;
}

.secciones {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  padding: 30px;
  margin-bottom: 30px;
  max-width: 600px;
}

.experiencias{
  background-color: rgb(207, 233, 255);
  padding: 30px;
  margin-bottom: 15px;
  
}

/*.blue{
  background-color: blue;
}*/

h3 {
  text-decoration: underline;
}

.verde{
  color: green;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

th {
  background-color: white;
  font-weight: 100;
  text-align: center;
}

.columnas{
  border-width: 0px;
  background-color: gray;
  font-weight: 600;
}

#idiomas p {
  margin: 10px 0;
}



.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.foto-perfil {
  display: block;
  width: 100%;
  height: auto;
  padding-left: 35px;
}

.icono-alinear{
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: -10px;
}

.iconos{
  align-items: center;
  width: 5%;
}


.overlay {
  position: absolute;
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 18px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  padding-right: 35px;
}

.container:hover .overlay {
  opacity: 1;
}

footer {
  background-color: #00bfff;
  color: black;
  text-align: center;
  padding: 15px;
}

footer a{
  text-decoration: none;
}

