body {
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  margin: 0;
  background-color: #eee9de;
  color: #000000;
}

body a{
    text-decoration: none;
    color: #9e4f00;
}

header {
  background-color: #0a0806;
  color: rgb(180, 167, 142);
  text-align: left;
  padding: 20px 40px;
}

header h1 {
  margin: 20;
  font-weight: bold;
}

nav {
  background-color: #242322;
  padding: 5px;
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: left;
}

nav a {
    color: rgb(250, 246, 238);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 15px;
}


nav a:hover {
  color: rgb(196, 175, 130);
}

main {
  padding: 30px;
}

.foto-perfil {
  display: block;
  width: 30%;
  height: auto;
  border-radius: 10px;
}

.buffalo-cartel {
  display: flex;
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.secciones {
  background-color: rgb(224, 215, 191);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  padding: 30px;
  margin-bottom: 30px;
  max-width: 800px;
}

.experiencias{
  background-color: rgb(202, 187, 153);
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 15px;
  
}

h2 {
    color: #635340;
}

h3 {
  font-weight: bold;
}

.galeria {
  display: flex;
  gap: 10px;     
}

.galeria img {
  width: 230px;     
  height: auto;
  border-radius: 8px;
}

footer {
  background-color: #0a0806;
  color: rgb(180, 167, 142);
  text-align: center;
  padding: 15px;
}

footer a{
  text-decoration: none;
}